{%  extends 'base.html' %}
{% block content %}

<section id="restaurant-menu">
    <div class="container">
        <div class="section-title text-center">

          <h2>{{ dish.title}}</h2>
        </div>

            <div class="row">
              <div class="col-lg-offset-5 col-sm-5">
                  <div class="menu-item-description">{{dish.desc}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-6 col-sm-4">
                  <div class="menu-item-price">{{dish.price}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                  <div class="features-item"><img src={{ dish.photo.url }} alt="..."></div>
              </div>
            </div>

    </div>
</section>

{% endblock %}